.watch-header-container{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	max-height: 70px;
	margin: 5px;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgb(91, 88, 88);
}
.watch-header-title{
	display: block;
	margin: 10px;
	padding: 10px;
}

.wathc-header-img-container{
	position:relative;
	width: 60px;
	overflow: hidden;
	margin: 3px;
}

.wathc-header-img{
	border-radius: 50%;
	margin: 3px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	bottom:0;
}



